a {
  text-decoration: none;
  font-size: 20px;
}
a:link {
  color: blue;
}
a:visited {
  color: #000;
}
a:hover {
  background-color: aqua;
  padding: 2%;
  color: white;
  border-radius: 5px;
  border: 2px solid #000;
}
a:active {
  color: #fff;
  background-color: blue;
}
h1 {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 45px;
}
p {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  /*font-variant: small-caps;*/
}
#parent {
  border: 1px solid chocolate;
  width: 100mm;
}
#child {
  border: 1px solid red;
  width: 50%;
}
.psp::first-letter {
  font-size: 50px;
  color: aqua;
  font-style: italic;
  font-weight: 700;
}
::selection {
  color: beige;
  background-color: chartreuse;
}
.blockem {
  border: 1px solid red;
  /*width: 50%;
  height: 50px;*/
  display: inline;
}
#disparent {
  border: 2px solid chocolate;
  padding: 30px;
  width: 60%;
}
#one {
  background-color: blueviolet;
  height: 100px;
  width: 100px;
  display: inline-block;
}
#two {
  background-color: crimson;
  height: 100px;
  width: 100px;
  display: inline-block;
}
#three {
  background-color: cyan;
  height: 100px;
  width: 100px;
  display: inline-block;
}
#nav {
  background-color: aquamarine;
  list-style-type: none;
}
#nav li {
  font-size: 20px;
}
